{{define "changeHost"}}
<script>

	$('#save').bind('click', function () {

		$("#change_host").css("display", "none");
		$("#sign").css("display", "block");
		$("#for-signature").val( '{{.TxTypeId}},{{.TimeNow}},{{.UserId}},'+$("#host").val());
		doSign();
		{{if not .ShowSignData}}$("#send_to_net").trigger("click");{{end}}
		});

		$('#send_to_net').bind('click', function () {

			$.post( 'ajax?controllerName=saveQueue', {
						'type' : '{{.TxType}}',
						'time' : '{{.TimeNow}}',
						'user_id' : '{{.UserId}}',
						'host' : $('#host').val(),
						'signature1': $('#signature1').val(),
						'signature2': $('#signature2').val(),
						'signature3': $('#signature3').val()
					}, function (data) {
						fc_navigate ('changeHost', {'alert': '{{.Lang.sent_to_the_net}}'} );
					}
			);

		} );

</script>

<h1 class="page-header">{{.Lang.change_host_title}}</h1>

{{template "alertSuccess".}}

<div id="change_host">

	<form>
		<fieldset>
			<input class="form-control" type="text" placeholder="" id="host" value="{{.Data.host}}"><br>
			({{.Data.host_status}})<br>
			<button type="submit" class="btn" id="save">{{.Lang.next}}</button>
		</fieldset>
	</form>

	<p><span class="label label-important">{{.Lang.limits}}</span> {{.LimitsText}}</p>

</div>

{{template "signatures".}}

{{end}}