<style>
	#page-wrapper{
		margin: 0px 10% 0px 10%;
		border: 1px solid #E7E7E7;
		min-height: 550px;
	}
	#wrapper{height: 100%;}
	#dc_content{
		height: 550px;
		vertical-align: middle;
	}
</style>
<script>

	$('.db_settings').hide();

	$('#extended').bind('click', function () {
		$('#extended_div').css("display", "block")
	});
	$('#standard').bind('click', function () {
		$('#extended_div').css("display", "none")
	});
	$('#first_load').on('change', function() {
		if (this.value=="nodes") {
			$('#url').css("display", "none")
		} else {
			$('#url').css("display", "block")
		}
	});
	$('#db_type').on('change', function() {
		if (this.value=="Sqlite") {
			console.log(this.value)
			$('.db_settings').hide();
		} else {
			$('.db_settings').show();
		}
	});

	$('#next').bind('click', function () {
		$('#wrapper').spin();
		$.post( 'content', {
			'tpl_name' : 'install_step_2',
			'type' : $('input[name=settings]:checked').val(),
			'url' : $('#url').val(),
			'first_load' : $('#first_load').val(),
			'db_type' : $('#db_type').val(),
			'host' : $('#host').val(),
			'port' : $('#port').val(),
			'db_name' : $('#db_name').val(),
			'username' : $('#username').val(),
			'password' : $('#password').val()
		}, function (data) { $('#dc_content').html( data );  $('#wrapper').spin(false); }, 'html' );
	} );

</script>

<div style="max-width: 600px; margin: auto; margin-top: 50px">

	<ul class="nav nav-tabs" style="margin-bottom: 20px">
		<li><a href="#install_step_0">Step 0</a></li>
		<li class="active"><a href="#install_step_1">Step 1</a></li>
	</ul>
	<h3>Settings</h3>
	<lebel id="standard"><input type="radio" name="settings" value="standard" checked> Standard</lebel><br>
	<lebel id="extended"><input type="radio" name="settings" id="extended" value="extended"> Extended</lebel><br>
	<div id="extended_div" style="display: none">
		<table class="table">
			<tr><td>First load</td><td><select class="form-control" id="first_load"><option value="file">Url</option><option value="nodes">Nodes</option></select><br>
				<input class="form-control" type="text" id="url" value="http://dcoin.me/blockchain"></td></tr>
			<tr><td>DB type</td><td><select class="form-control" id="db_type"><option value="sqlite">Sqlite</option><option value="postgresql">Postgresql</option><option value="mysql">Mysql</option></select></td></tr>

			<tr class="db_settings"><td>host</td><td><input class="form-control" type="text" id="host"></td></tr>
			<tr class="db_settings"><td>port</td><td><input class="form-control" type="text" id="port"></td></tr>
			<tr class="db_settings"><td>db_name</td><td><input class="form-control" type="text" id="db_name"></td></tr>
			<tr class="db_settings"><td>username</td><td><input class="form-control" type="text" id="username"></td></tr>
			<tr class="db_settings"><td>password</td><td><input class="form-control" type="password" id="password"></td></tr>

		</table>
	</div>
	<button class="btn btn-outline btn-primary" id="next">{{.Lang.next}}</button>
</div>