{{ define "installStep1" }}

<style>
	#page-wrapper{
		margin: 0px 10% 0px 10%;
		border: 1px solid #E7E7E7;
		min-height: 550px;
	}
	#wrapper{height: 100%;}
	#dc_content{
		height: 550px;
		vertical-align: middle;
	}
</style>
<div style="max-width: 600px; margin: auto; margin-top: 50px">

	<ul class="nav nav-tabs">
		<li><a href="#installStep0">Step 0</a></li>
		<li class="active"><a href="#installStep1">Step 1</a></li>
	</ul>

	<a href="#" role="button" onclick="location.reload();">Next</a>

</div>
<script>
	$( document ).ready(function() {
		location.reload();
	});
</script>
{{end}}