{{ define "login" }}
<style>
	#page-wrapper{
		margin: 0px 10% 0px 10%;
		border: 1px solid #E7E7E7;
	}
	#dc_content{
		vertical-align: middle;
	}
	.row, .col-lg-12, #dc_content {
		height: 100%;
	}
	.row{
		margin-top:15%
	}

	#show_login, #show_signup{
		float:left
	}
	#show_login{
		margin-right:3px;
	}
	@media(max-width:320px) {
		#show_login, #show_signup{
			float:none;
			margin:0 auto;
		}
		#show_login{
			margin-bottom:3px;
		}
	}
</style>

{{if not .UserID}}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<a class="navbar-brand" href="#" style="display: block; padding-left: 0px;  padding-top: 6px; margin-left: 15px; margin-right: 50px" onclick="fc_navigate('home')"><img src="static/img/logo.png" height="40"></a>
	</div>
	<!-- /.navbar-header -->
	<!--
	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa  fa-globe fa-fw"></i> Language <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<li><a href="#" onclick="fc_navigate('home', 'lang=1'); load_menu();">English</a>
				</li>
				<li><a href="#" onclick="fc_navigate('home', 'lang=42'); load_menu();">Русский</a>
				</li>
			</ul>
		</li>
	</ul>
	-->
	<!-- /.navbar-top-links -->

</nav>
{{end}}

{{if .PoolTechWorks}}
	<div class="alert alert-info" style="max-width: 540px; text-align: center; position: relative; top: 40%; bottom: 0px; margin: auto">>{{.Lang.pool_tech_works}}</div><div id="show_login" style="width: 40px; height:40px"></div>';
{{else}}
	<div style="margin:0 auto; display: table; position: relative; top: 40%;">
		<span style="display: inline-block">
			<button type="button" class="btn btn-primary btn-lg" id="show_login" style="position: relative; display: table;">{{.Lang.login}}</button>
			<button type="button" class="btn btn-primary btn-lg" id="show_signup" style="position: relative; display: table;  ">{{.Lang.sign_up}}</button>
		</span>
	</div>
{{end}}
<!--
{{if not .UserID}}
<div class="alert alert-info" style="max-width: 540px; text-align: center; position: relative; top: 40%; bottom: 0px; margin: 30px auto auto;">{{noescape .Lang.login_help_text}}</div>
{{end}}
-->
{{ template "modal". }}

<script>
	$('#myModal').remove();
	$('#show_login').bind('click', function () {
		$('#myModalLogin').modal({ backdrop: 'static' });
	});
	$('#show_signup').bind('click', function () {
		$('#signUpModal').modal({ backdrop: 'static' });
	});

	$( document ).ready(function() {
		//$('#show_login').css('display', 'block');
		//$('#show_signup').css('display', 'block');
		$('#wrapper').spin(false);
	});

	/*$('#take_key').bind('click', function () {
		console.log("take_key");
		$.get('http://pool.dcoin.club/tools?controllerName=availableKeys&download=1', function(data) {
					console.log(data);
					$('#key').text( data );
					doSign('login');
				});
	});*/

	function signUpModalFns() {
		console.log("take_key");
		$.get('http://pool.dcoin.club/tools?controllerName=availableKeys&download=1', function(data) {
			$('#signUpModal').modal('hide');
			console.log(data);
			$('#key').text( data );
			doSign('login');
		});
	}

</script>
<div class="for-signature"></div>
{{ end }}