{{define "setPassword"}}

<style>
	#page-wrapper{
		margin: 0px 10% 0px 10%;
		border: 1px solid #E7E7E7;
		min-height: 550px;
	}
	#wrapper{height: 100%;}
	#dc_content{
		height: 550px;
		vertical-align: middle;
	}
</style>

<script>
	$('#download').bind('click', function () {
		$( "#goto_waiting_accept_new_key" ).removeAttr("disabled");
	});
	{{if .IOS}}
		$( "#goto_waiting_accept_new_key" ).removeAttr("disabled");
	{{end}}

	$('#goto_waiting_accept_new_key').bind('click', function () {
		$.post( 'ajax?controllerName=dcoinKey', {'first' : "1", 'password' : $( "#password" ).val() } );
		fc_navigate ('waitingAcceptNewKey', "");
	});
</script>
<h1 class="page-header">{{.Lang.set_password_title}}</h1>

<div id="main_data">

		<div class="form-horizontal">
			<form method="post" action="ajax?controllerName=dcoinKey" target="_blank">
				<fieldset>

					<!-- Password input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="new_password">{{.Lang.password}}</label>
						<div class="col-md-4">
							<input id="new_password" class="form-control input-md" name="password" type="password">
							<span class="help-block">{{.Lang.choose_a_password}}</span>
						</div>
					</div>

					{{if not .IOS}}
					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="download"></label>
						<div class="col-md-4">
							<button id="download" class="btn btn-default"
									type="submit">{{.Lang.download}}</button>
						</div>
					</div>
					{{end}}

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="goto_waiting_accept_new_key"></label>
						<div class="col-md-4">
							<a id="goto_waiting_accept_new_key" class="btn btn-primary"
							   disabled="disabled">{{.Lang.next}}</a>
						</div>
					</div>

				</fieldset>
				<input type="hidden" name="first" value="1">
			</form>
		</div>

</div>

{{end}}