{{define "upgrade6"}}
<script>
	$(document).ready(function() {
		$( "#progress_bar" ).load( "ajax?controllerName=progressBar");
	});

	$('#change_node_http_host').bind('click', function () {
		$('#node_http_host').html('<input class="form-control" style="width:300px" type="text" id="http_host" value="{{.HttpHost}}"><br>{{.Lang.host_http_example}}');
	});
	$('#change_node_tcp_host').bind('click', function () {
		$('#node_tcp_host').html('<input class="form-control" style="width:300px" type="text" id="tcp_host" value="{{.TcpHost}}"><br>{{.Lang.host_tcp_example}}');
	});

	$('#save').bind('click', function () {
		$('#alert').css("display", "none");
		$.post( 'ajax?controllerName=saveHost', { 'http_host' : $('#http_host').val(), 'tcp_host' : $('#tcp_host').val() } ,
				function (data) {
					if (data.error!="0") {
						$('#alert').css("display", "block");
					}
					else {
						map_navigate('upgrade6');
					}
				}, "JSON");
	});

	$('#findPool').bind('click', function () {
		$.get( 'http://dcoin.me/pools',
			function (pools) {
				for (i=0; i < len(pools); i++) {
					console.log(pools[i])
					var err=0

					$.get( 'ajax?controllerName=SignLogin',
						function (code) {
							$("#for-signature").val(code)
							doSign()
							$.post( pools[i]+'/ajax?controllerName=SignUpInPool', { 'code_sign' : $('#signature1').val(), 'user_id' : {{.UserId}}, 'email' : $('#email').val(), 'nodePrivateKey' : $('#node_private_key').val() },
								function (data) {
									if (typeof(data.error) != "undefined") {
										err = 1
									}
									else {
										$("#for-signature").val(faceHash+","+profileHash+","+videoHash)
										doSign()
										$.post( 'ajax?controllerName=SendToPool', { 'filesSign' : $('#signature1').val(), 'pool' : pools[i] },
											function (data) {
													if (data.success == "1") {
														fc_navigate('upgrade7');
													} else {
														err = 1
														break
													}
												}, "JSON");
											}
										}, "JSON");
									}, "JSON");

					if (err!=0) {
						$('#alert').css("display", "block");
					}
				}
			}, "JSON");
	});

</script>
<h1 class="page-header">{{.Lang.upgrade_title}}</h1>
<ol class="breadcrumb">
	<li><a href="#miningMenu">{{.Lang.mining}}</a></li>
	<li class="active">{{.Lang.upgrade_title}}</li>
</ol>

<ul class="nav nav-tabs">
	{{noescape .UpgradeMenu}}
</ul>

<h3>Host</h3>

<br>
<div class="alert alert-error" id="alert" style="display: none">{{.Lang.invalid_host}}</div>

{{if eq .HostType "pool"}}
	<div id='node_http_host'><input type='hidden' id='http_host' value='{{.HttpHost}}'><p><strong>{{.HttpHost}}</strong><!--<br>[<a href='#' id='change_node_http_host'>change</a>]</p>--></div><br>
	<div id='node_tcp_host'><input type='hidden' id='tcp_host' value='{{.TcpHost}}'><p><strong>{{.TcpHost}}</strong><!--<br>[<a href='#' id='change_node_tcp_host'>change</a>]</p>--></div>
	<br>
	<button class="btn btn-success" id="save">{{.SaveAndGotoStep}}</button>
{{else if eq .HostType "normal"}}
	<div id='node_http_host'><input type='hidden' id='http_host' value='{{.HttpHost}}'><p><strong>{{.HttpHost}}</strong><br>[<a href='#' id='change_node_http_host'>change</a>]</p></div><br>
	<div id='node_tcp_host'><input type='hidden' id='tcp_host' value='{{.TcpHost}}'><p><strong>{{.TcpHost}}</strong><br>[<a href='#' id='change_node_tcp_host'>change</a>]</p></div>
	<br>
	<button class="btn btn-success" id="save">{{.SaveAndGotoStep}}</button>
{{else if eq .HostType "findPool"}}
	{{.Lang.enter_your_email}}<br><input class="form-control" style="width:300px" type="text" id="email" value=""><br>
	<button class="btn btn-success" id="findPool">{{.Lang.next}}</button>
{{end}}

<input type="node_private_key" vaue="{{.NodePrivateKey}}">

<br>

{{end}}