{{define "upgrade5"}}
<script>
	$(document).ready(function() {
		$( "#progress_bar" ).load( "ajax?controllerName=progressBar");
	});
</script>
<h1 class="page-header">{{.Lang.upgrade_title}}</h1>
<ol class="breadcrumb">
	<li><a href="#miningMenu">{{.Lang.mining}}</a></li>
	<li class="active">{{.Lang.upgrade_title}}</li>
</ol>

<ul class="nav nav-tabs">
	{{noescape .UpgradeMenu}}
</ul>

<h3>Host</h3>

{{.Lang.your_host}}
<br>
<div class="alert alert-error" id="alert" style="display: none">{{.Lang.invalid_host}}</div>

{{if .Community}}
	<div id='node_http_host'><input type='hidden' id='http_host' value='{{.HttpHost}}'><p><strong>{{.HttpHost}}</strong><br>[<a href='#' id='change_node_http_host'>change</a>]</p></div><br>
	<div id='node_tcp_host'><input type='hidden' id='tcp_host' value='{{.TcpHost}}'><p><strong>{{.TcpHost}}</strong><br>[<a href='#' id='change_node_tcp_host'>change</a>]</p></div>
{{else}}
	<input class="form-control" style="width:300px" type="text" id="http_host" value="{{.HttpHost}}"><br>{{.Lang.host_http_example}}<br>
	<input class="form-control" style="width:300px" type="text" id="tcp_host" value="{{.TcpHost}}"><br>{{.Lang.host_tcp_example}}
{{end}}

<script>
	$('#change_node_http_host').bind('click', function () {
		$('#node_http_host').html('<input class="form-control" style="width:300px" type="text" id="http_host" value="{{.HttpHost}}"><br>{{.Lang.host_http_example}}');
	});
	$('#change_node_tcp_host').bind('click', function () {
		$('#node_tcp_host').html('<input class="form-control" style="width:300px" type="text" id="tcp_host" value="{{.TcpHost}}"><br>{{.Lang.host_tcp_example}}');
	});

	$('#save').bind('click', function () {
		$('#alert').css("display", "none");
		$.post( 'ajax?controllerName=saveHost', { 'http_host' : $('#http_host').val(), 'tcp_host' : $('#tcp_host').val() } ,
				function (data) {
					if (data.error!="0") {
						$('#alert').css("display", "block");
					}
					else {
						map_navigate('upgrade6');
					}
				}, "JSON");
	});
</script>
<button class="btn btn-success" id="save">{{.SaveAndGotoStep}}</button>


<br><br><br><br><br><br><br>

{{end}}