{{define "upgrade3"}}
<script>
	$(document).ready(function() {
		$( "#progress_bar" ).load( "ajax?controllerName=progressBar" );
	});
</script>

<script src="static/js/spots.js"></script>

<h1 class="page-header">{{.Lang.upgrade_title}}</h1>
<ol class="breadcrumb">
	<li><a href="#miningMenu">{{.Lang.mining}}</a></li>
	<li class="active">{{.Lang.upgrade_title}}</li>
</ol>

<ul class="nav nav-tabs">
	{{noescape .UpgradeMenu}}
</ul>

<h3>{{.Lang.put_points_on_photo}}</h3>

<div id="main1" style="position: relative;">

	<div id="comment-face" style="font-weight:bold;">1</div>

	<div style="width: 350px; position: relative; float: left">
		<canvas id="example_face" style="position: absolute; background-image: url('static/img/face.jpg'); background-size: 350px;" width="350" height="500"></canvas>
		<canvas style="position: relative; top:0px; left:0px;" width="350" height="500"></canvas>
	</div>
	<div style="width: 350px; position: relative; float: left; text-align: center">
		<canvas  id="face_coords_mouse" style=" top:0px; left:0px; position: absolute; background-image: url('{{.UserFace}}'); background-size: 350px;" width="350" height="500"></canvas>
		<canvas id="face" style="position: relative; top:0px; left:0px; height:500px" width="350" height="500"></canvas>
		<br>
		<button onclick="fclear('face')"  type="button" class="btn btn-warning">{{.Lang.clean}}</button><br><br>
	</div>

	<div class="clearfix"></div>

	<div id="comment-profile" style="font-weight:bold;">2</div>
	<div style="width: 350px; position: relative; float: left">
		<canvas id="example_profile" style="position: absolute; background-image: url('static/img/profile.jpg'); background-size: 350px;" width="350" height="500"></canvas>
		<canvas style="position: relative; top:0px; left:0px;" width="350" height="500"></canvas>
	</div>
	<div style="width: 350px; position: relative; float: left; text-align: center">
		<canvas  id="profile_coords_mouse" style=" top:0px; left:0px; position: absolute; background-image: url('{{.UserProfile}}'); background-size: 350px;" width="350" height="500"></canvas>
		<canvas id="profile" style="position: relative; top:0px; left:0px; height:500px" width="350" height="500"></canvas>
		<br><button onclick="fclear('profile')"  type="button" class="btn btn-warning">{{.Lang.clean}}</button><br><br>
	</div>
	<div class="clearfix"></div>




	<script>

		coords.getObject("face").init({
			for_mouse_move : "face_coords_mouse",
			example_area : "example_face",
			main_area : "face",
			type : "face",
			line_color : "#593AE0",
		{{if .FaceCoords}}user_coords: {{js .FaceCoords}},{{end}}

		example_coords : [
			{{js .ExamplePoints.face}}
		]

		});

		coords.getObject("profile").init({

			for_mouse_move : "profile_coords_mouse",
			example_area : "example_profile",
			main_area : "profile",
			type : "profile",
			line_color : "#593AE0",
		{{if .ProfileCoords}}user_coords: {{js .ProfileCoords}},{{end}}


		example_coords : [
			{{js .ExamplePoints.profile}}
		]
		});

		function fclear (name) {
			coords.getObject(name).clear();
		}

		$('#comment-face').text( '' );
		$('#comment-profile').text( '' );

	</script>
</div>
<br><br>

<button class="btn btn-success" onclick="user_webcam_navigate('upgrade4')">{{.SaveAndGotoStep}}</button>

<br><br><br><br><br><br><br>


<div class="for-signature"></div>
       
{{end}}