{{define "upgrade0"}}
<script>
	$('#next').bind('click', function () {
		$.post('ajax?controllerName=saveRaceCountry', {'race' : $('input:radio[name=race]:checked').val(), 'country' : $("#country option:selected").val()},
				function(data) {
					user_photo_navigate('upgrade1');
					window.scrollTo(0,0);
				});
	});
	check_key_and_show_modal();
	$(document).ready(function() {
		$( "#progress_bar" ).load( "ajax?controllerName=progressBar");
	});
</script>

<h1 class="page-header">{{.Lang.upgrade_title}}</h1>
<ol class="breadcrumb">
	<li><a href="#miningMenu">{{.Lang.mining}}</a></li>
	<li class="active">{{.Lang.upgrade_title}}</li>
</ol>

{{template "alertSuccess".}}

<ul class="nav nav-tabs">
	{{noescape .UpgradeMenu}}
</ul>

<h3>{{.Lang.your_race}}</h3>

<img src="static/img/race.gif"><Br>
<div style="width: 490px">
	<div style="float: left;width: 190px; text-align: center;"><input type="radio" name="race" value="1" {{ if eq .Race 1}}checked{{end}}></div>
	<div style="float: left;width: 160px; text-align: center; "><input type="radio" name="race" value="2" {{ if eq .Race 2}}checked{{end}}></div>
	<div style="float: left; width: 140px; text-align: center; "><input type="radio" name="race" value="3" {{ if eq .Race 3}}checked{{end}}></div>
</div>
<div class="clearfix"></div>
<Br>
{{.Lang.find_your_race}}

<h3>{{.Lang.country}}</h3>
{{.Lang.any_country}}<br>
<select id='country' class="form-control" style="width:300px"><option value=''></option>
{{range $i, $country := .Countries}}
	<option value='{{$i}}' {{if eq $i $.Country}}selected{{end}}>{{$country}}</option>
{{end}}
</select>

<br>

<button class="btn btn-success" id="next">{{.SaveAndGotoStep}}</button>


<br><br><br><br><br><br><br>


<div class="for-signature"></div>
       
{{end}}